@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --card-size: 150px;

}

html {
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: antiquewhite;
}

nav {
  background-color: #fff;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline 2px blue;
}

/* section {position: relative;} */
.recipe-ingredients {
  display: flex;
  justify-content: center;
}
.ingredient-card {
  position: relative;
  margin-left: -150px;
  animation: flow 1s normal forwards ease-in;
  animation-iteration-count: 1;
}


@keyframes flow {
  from {
    margin-left:-150px;
  }
  to {
    margin-left: 10px
  }
}


.recipe-ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  min-height: 200px;
  padding: 15px;
}
.ingredient-card {
  position: relative;
  width: 150px;
  height: 180px;
  background: #fff;
  outline: 5px solid gray;
  outline-offset: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 500ms;
}
.ingredient-card:hover {
  transform: scale(1.2);
}
.ingredient-card section img {
  width: 100%;
  height: 165px;
}
.ingredient-card header {
  position: absolute;
}