/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Itim&family=Podkova&display=swap");

/* Browser reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --card-size: 150px;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  background-color: #e3713a;
  font-family: "Itim", cursive;
  min-height: 100vh;
  /* added flex so that the footer will have flex-shrink: 0 
  -> this will keep it at the bottom of the page 
  even if the main element doesnt have content */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* General styles */
h3,
h4 {
  color: #4c9161;
}
.hidden {
  display: none;
}
.text-with-shadow {
  color: black;
  /* color: rgb(245, 235, 216); */
  /* text-shadow: 0.1rem 0.1rem 0px #ef0000; */
}
.box-shadow {
  -webkit-box-shadow: 1px 5px 5px -3px #3a3a3a;
  -moz-box-shadow: 1px 5px 5px -3px #3a3a3a;
  box-shadow: 1px 5px 5px -3px #3a3a3a;
}
.container {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  background-color: #fff;
}
.text-left {
  text-align: left;
}
/* Navigation styles */

header {
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 0 0 15px #3a3a3a;
  z-index: 40;
}

nav {
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
}

nav a,
nav details {
  text-decoration: none;
  font-size: 100%;
  position: relative;
  color: #ef0000;
}
.nav-section {
  display: flex;
  gap: 15px;
}
nav .logo {
  width: 75px;
  height: 75px;
  mix-blend-mode: normal;
}

/* Details container styles */

details {
  position: relative;
  cursor: pointer;
  width: min-content;
}
details > summary:first-of-type {
  list-style-type: none;
}

details > .nav-list-wrapper {
  display: flex;
  height: fit-content;
  width: clamp(280px, 280px, 100vw);
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 78%;
  transform: translateX(50%);
  top: 49px;
  background-color: #fff;
  text-decoration: none;
  color: inherit;
}

.recipe-list-item {
  padding: 10px;
  text-align: center;
}

.recipe-list-item:hover {
  text-decoration: underline;
}
nav a:hover,
nav details:hover {
  text-decoration: underline;
}

/* drooling face CSS */
#contact-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drooling-face-wrapper {
  visibility: hidden;
  width: 45px;
  height: 45px;
  background-color: #fff;
  display: grid;
  place-items: center;
  position: absolute;
  left: -50px;
  top: -55%;
}

.drooling-face-body {
  display: flex;
  width: 80%;
  height: 80%;
  border: 2px solid #ef0000;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.drooling-face-eye-top {
  width: 20%;
  height: 20%;
  border: 1px solid #ef0000;
  border-radius: 50%;
  position: absolute;
  background-color: #ef0000;
  transition: all 500ms;
}

.drooling-face-eye-top:nth-child(1) {
  left: 20%;
  top: 20%;
}

.drooling-face-eye-top:nth-child(2) {
  left: 60%;
  top: 20%;
}

.drooling-face-eye-bottom {
  width: 20%;
  height: 20%;
  border: 1px solid #fff;
  position: absolute;
  background-color: #fff;
  transition: all 500ms;
  border-radius: 50%;
}

.drooling-face-eye-bottom:nth-child(3) {
  left: 20%;
  top: 40%;
}

.drooling-face-eye-bottom:nth-child(4) {
  left: 60%;
  top: 40%;
}

.drooling-face-mouth {
  width: 70%;
  height: 70%;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-color: transparent;
  border-bottom-color: #ef0000;
  background-color: #fff;
  transition: all 500ms;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 3;
}

.drooling-face-mouth {
  width: 79%;
  height: 112%;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: #ef0000;
  transition: all 500ms;
  position: absolute;
  background-color: transparent;
  top: -31%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 3;
}

.drooling-face-tongue {
  position: absolute;
  top: 50%;
  left: 59%;
  border: 2px solid transparent;
  border-top-color: transparent;
  border-bottom-color: #ef0000;
  z-index: 1 !important;
  transform: rotate(329deg);
  background-color: #ef0000;
  width: 17%;
  height: 17%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: top 300ms, visibility 1s;
}

.tongue-hidder {
  position: absolute;
  background-color: white;
  height: 40%;
  width: 25%;
  top: 43%;
  left: 47%;
  border-bottom-right-radius: 43%;
  border-top-right-radius: 44%;
  transform: rotate(60deg);
  z-index: 2;
}

details:hover .drooling-face-eye-bottom:nth-child(3),
details:hover .drooling-face-eye-bottom:nth-child(4) {
  top: 32%;
  width: 25%;
  height: 15%;
}

details:hover .drooling-face-eye-bottom:nth-child(3) {
  left: 18%;
  transform: rotate(30deg);
}

details:hover .drooling-face-eye-bottom:nth-child(4) {
  left: 58%;
  transform: rotate(-30deg);
}

details:hover .drooling-face-tongue {
  top: 74%;
}

/* Hero image styles */
.hero-image {
  width: 100vw;
  height: 500px;
  background: grey url("../assets/hero_image_midjourney1.png") top center /
    cover no-repeat;
  display: grid;
  place-items: center;
}
#main-title {
  font-size: 300%;
  width: 100%;
  text-align: center;
  color: rgb(245, 235, 216);
  animation: main-title-animation 600ms normal forwards ease-in;
  animation-iteration-count: 1;
  text-shadow: -15px 5px 20px #ced0d3;
  /* text-shadow: 5px 5px 0px #ffb650, 10px 10px 0px #ffd662, 15px 15px 0px #ff80bf,
    20px 20px 0px #ef5097, 25px 25px 0px #6868ac, 30px 30px 0px #90b1e0; */
}
@keyframes main-title-animation {
  from {
    text-shadow: 0px 0px 0px #ef0000;
    /* 0px 0px 0px orange, 0px 0px 0px yellow; */
    /* 0px 0px 0px #ef0000, 0px 0px 0px orange, 0px 0px 0px yellow; */
  }
  to {
    text-shadow: 5px 5px 0px #ef0000;
    /* 10px 10px 0px orange, 15px 15px 0px yellow; */
    /* 20px 20px 0px #ef0000, 25px 25px 0px orange, 30px 30px 0px yellow; */
  }
}
.intro-title {
  font-size: 2rem;
}

.recipe-ingredients {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  min-height: 280px;
  padding: 15px;
  gap: 10px;
}
.recipe-ingredients-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  min-height: 200px;
  padding: 15px;
  gap: 10px;
}

/* Ingredient card styles */
.ingredient-card {
  margin-left: -150px;
  animation: flow 1s normal forwards ease-in;
  animation-iteration-count: 1;
  position: relative;
  width: 150px;
  height: 180px;
  background: #fff;
  outline: 1px solid #4c9161;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 500ms;
  z-index: 0;
  box-shadow: 6px 5px 4px #4c9161;
}

@keyframes flow {
  from {
    margin-left: -150px;
  }
  to {
    margin-left: 10px;
  }
}

.ingredient-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}
.ingredient-title {
  text-transform: capitalize;
  font-size: 2rem;
}
.ingredient-card:hover {
  transform: scale(1.2);
  z-index: 2;
  box-shadow: none;
}

.ingredient-card section img {
  width: 100%;
  height: 165px;
}
.ingredient-card h4 {
  font-size: 1rem;
  position: absolute;
  z-index: 100;
  bottom: 10px;
}

.recipe-preparation {
  font-size: 1.8rem;
}

.about-us {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Podkova", serif;
}

.about-us h3 {
  font-size: 1.5rem;
}
.featured-recepies h3 {
  font-size: 1.5rem;
}

/* Omlette wrap */
.recipe-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.recipe-title h1 {
  font-size: 200%;
}
.recipe-image {
  max-width: 200px;
  height: auto;
}
/* How to make section */
.how-to-make {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.how-to-make ol {
  list-style-position: inside;
  list-style-type: none;
}
.how-to-make h2 {
  color: #4c9161;
}
.how-to-make li {
  margin-bottom: 8px;
  position: relative;
  line-height: 24px;
}

.how-to-make ol span {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #3a3a3a;
}
/* Recipe video */

.recipe-video h2 {
  color: #4c9161;
  margin-bottom: 10px;
}
.external-reference span a {
  color: #4c9161;
}

/* Contact page styles */

#contact-section {
  position: relative;
  margin-top: -400px;
  max-width: 600px;
  flex-grow: 1;
  padding: 20px;
}
#contact-section h2 {
  color: #4c9161;
}
#contact-form {
  margin: 0 auto;
}
#contact-form i {
  font-size: 3rem;
  margin: 10px 0;
  color: #ef0000;
}
#contact-form .drooling-face-wrapper {
  visibility: visible;
}
#inputs-section {
  background-color: rgb(255, 217, 3);
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
#inputs-section input,
#inputs-section textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
#inputs-section button {
  cursor: pointer;
  width: fit-content;
  padding: 10px 20px;
  align-self: center;
  border: none;
  border-radius: 10px;
}

#inputs-section button:hover {
  outline: 2px solid #ef0000;
}
/* Footer styles */

footer {
  /* this will keep the footer at the bottom of the page */
  flex-shrink: 0;
  height: 80px;
  width: 100%;
  background-color: #4c9161;
}

#social-networks li {
  list-style-type: none;
}

#social-networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#social-networks li {
  list-style-type: none;
}
#social-networks i {
  color: #fff;
  font-size: 24px;
}

/* Media query: large or landscape phones(375px and up) */

@media screen and (min-width: 375px) {
  .drooling-face-wrapper {
    visibility: visible;
  }
}
